$portrait: 768px;
$landscape: 992px;
$desktop: 1200px;
$mainColor: rgb(219,219,219);
$grayTextColor: #333333;
.gray-balk{
    background-color:$mainColor;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
    @media screen and (min-width: $landscape) {
        margin-bottom: 2%;
    }
    .gray-balk-text{
        text-align: center;
        @media screen and (min-width: $portrait) {
             text-align: right;
        }
        .credentials{
            text-decoration: none;
            font-size: 14px;
            font-weight: bold;
            color: $grayTextColor;
            @media screen and (min-width: $landscape) {
                font-size: 16px;
            }
        }
    }
}
.loged-in{
    height: 100%;
    width: 100%;

    .credentials{
        font-size: 14px;
        font-weight: 500;
        margin: 0;
        color: $grayTextColor !important;
        float: left;
         @media screen and (min-width: $landscape) {
            font-size: 16px;
        }
    }
    a{
        color: $grayTextColor !important;
        float: right;
        font-size: 14px;
         @media screen and (min-width: $landscape) {
            font-size: 16px;
        }
    }
}
nav {
    margin-bottom: 5%;

    .logo{
        display: flex !important;
         justify-content: center;
         align-items: center;
         position: relative;

         &::after{
            content: '';
            width: 100%;
            border-bottom: solid 1px #000;
            position: absolute;
            left: 0;
            top: 50%;
            z-index: 1;
         }
        @media screen and (min-width: $landscape) {
            justify-content: flex-start;
        }
        .container{
             @media screen and (max-width: $landscape) {
            all: unset !important;
            }
        }
         .image{
             display: none;
             @media screen and (min-width: $landscape) {
                display: block;
                float: left;
            }
         }
         .image-mobile{
            @media screen and (min-width: $portrait) {
                width: 75px;
                height: 75px;                    
            }
            @media screen and (min-width: $landscape) {
                display: none;
            }
         }
         i{
             position: absolute;
             right: 5%;
             top: 30%;
             z-index: 100;
             @media screen and (min-width: $landscape) {
                display: none;
            }
         }
    }
    .nav-links{
        visibility: hidden;
        display: none;
        background-color: rgba(0,0,0,0.9);
        position: fixed;
        top: 0;
        height: 100vh;
        width: 100vw;
        z-index: 99;
        @media screen and (min-width: $landscape) {
            all: unset;
            height: 50px;
        }
        ul{
            list-style-type: none;
            padding: 0;
            text-align: center;
            margin-top: 50%;
            
            @media screen and (min-width: $portrait) {
                margin: 40% 0;                    
            }
            @media screen and (min-width: $landscape) {
                margin: 0;
                border-bottom: 1px solid $mainColor;
                border-top: 1px solid $mainColor;
                padding: 1%;

            }
            li{
                margin: 10% 0;
                @media screen and (min-width: $landscape) {
                    margin: 0 1%;
                    display: inline;
                }
                
                a{
                    text-decoration: none;
                    color: white;
                    font-size: 2rem;
                    @media screen and (min-width: $landscape) {
                        color: #333333;
                        font-size: 1.2rem;
                        display: inline-block;
                         
                    }
                    &:hover {
                        opacity: 0.8;
                        transform: scale(1.03)
                    }
                   
                }
            }
        }
    }
    
}

.show{
    visibility: visible !important;
    display: block !important;
    color: white;
}
  /* POP UP */

 