html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

@media screen and (max-width: 321px) {
  .fc-right {
    float: none !important;
  }
}

@media screen and (max-width: 767px) {
  .fc-center {
    margin-top: 15px;
  }
}

.overlay {
  position: fixed;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}

.overlay:target {
  visibility: visible;
  opacity: 1;
}

.popup {
  margin: 70px auto;
  padding: 20px;
  background: #fff;
  border-radius: 5px;
  width: 95%;
  position: relative;
  transition: all 1s ease-in-out;
}

@media screen and (min-width: 768px) {
  .popup {
    width: 90vw;
  }
}

@media screen and (min-width: 992px) {
  .popup {
    width: 80vw;
  }
}

@media screen and (min-width: 1200px) {
  .popup {
    width: 70vw;
  }
}

.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}

.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: #333;
}

.popup .close:hover {
  color: #ec2f16;
}

.popup .content {
  max-height: 30%;
  overflow: auto;
}

@media screen and (max-width: 700px) {
  .box {
    width: 70%;
  }

  .popup {
    width: 70%;
  }
}

#guestWorkChoose .card {
  height: 100%;
}

