html, body{
    

}

<<<<<<< HEAD
input[type=text], select, textarea {
    width: 100%;
   
    
  }
  
 .btn1{
   
   margin-left: 10px;
   margin-bottom: 10px;
   margin-top: -5px;
 }

 .maps{

 }


 .Text{
   margin-top: 2%;
   font-weight: bold;
 }
=======
/* input[type=text], select, textarea {
    width: 50%;
   
    
  }
   */
 
>>>>>>> aeea83119436fc3fff9c2a92d52217858f52f24f
