.gray-balk {
  background-color: #dbdbdb;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

@media screen and (min-width: 992px) {
  .gray-balk {
    margin-bottom: 2%;
  }
}

.gray-balk .gray-balk-text {
  text-align: center;
}

@media screen and (min-width: 768px) {
  .gray-balk .gray-balk-text {
    text-align: right;
  }
}

.gray-balk .gray-balk-text .credentials {
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}

@media screen and (min-width: 992px) {
  .gray-balk .gray-balk-text .credentials {
    font-size: 16px;
  }
}

.loged-in {
  height: 100%;
  width: 100%;
}

.loged-in .credentials {
  font-size: 14px;
  font-weight: 500;
  margin: 0;
  color: #333333 !important;
  float: left;
}

@media screen and (min-width: 992px) {
  .loged-in .credentials {
    font-size: 16px;
  }
}

.loged-in a {
  color: #333333 !important;
  float: right;
  font-size: 14px;
}

@media screen and (min-width: 992px) {
  .loged-in a {
    font-size: 16px;
  }
}

nav {
  margin-bottom: 5%;
}

nav .logo {
  display: flex !important;
  justify-content: center;
  align-items: center;
  position: relative;
}

@media screen and (min-width: 992px) {
  nav .logo {
    justify-content: flex-start;
  }
}

@media screen and (max-width: 992px) {
  nav .logo .container {
    all: unset !important;
  }
}

nav .logo .image {
  display: none;
}

@media screen and (min-width: 992px) {
  nav .logo .image {
    display: block;
    float: left;
  }
}

@media screen and (min-width: 768px) {
  nav .logo .image-mobile {
    width: 75px;
    height: 75px;
  }
}

@media screen and (min-width: 992px) {
  nav .logo .image-mobile {
    display: none;
  }
}

nav .logo i {
  position: absolute;
  right: 5%;
  top: 30%;
  z-index: 100;
}

@media screen and (min-width: 992px) {
  nav .logo i {
    display: none;
  }
}

nav .nav-links {
  visibility: hidden;
  display: none;
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99;
}

@media screen and (min-width: 992px) {
  nav .nav-links {
    all: unset;
    height: 50px;
  }
}

nav .nav-links ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
  margin-top: 50%;
}

@media screen and (min-width: 768px) {
  nav .nav-links ul {
    margin: 40% 0;
  }
}

@media screen and (min-width: 992px) {
  nav .nav-links ul {
    margin: 0;
    border-bottom: 1px solid #dbdbdb;
    border-top: 1px solid #dbdbdb;
    padding: 1%;
  }
}

nav .nav-links ul li {
  margin: 10% 0;
}

@media screen and (min-width: 992px) {
  nav .nav-links ul li {
    margin: 0 1%;
    display: inline;
  }
}

nav .nav-links ul li a {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

@media screen and (min-width: 992px) {
  nav .nav-links ul li a {
    color: #333333;
    font-size: 1.2rem;
    display: inline-block;
  }
}

nav .nav-links ul li a:hover {
  opacity: 0.8;
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
}

.show {
  visibility: visible !important;
  display: block !important;
  color: white;
}

/* POP UP */

